.main-btn {
    background-color: blueviolet;
    padding: 30px 50px;
}

.children-aria {
    background-color: #ccc;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 5%;
}